#background {
    height: 725px;
}
body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
}               
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}    

.icon {
    width: 50px;
    
}
 
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
footer p {
    font-size: 1.2em;
}    
  
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo{

    width: 100px;
}
h2{
    text-align: center;
}
h4{
    text-align: center;
}
.card-img .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p a.hover {
    text-decoration: underline;
}  
p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.join{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
main{

    text-align: center;
}
main p {
    background-color: rgba(133, 132, 131, 0.89) ;
        color: #faf0f0;
}  

footer {
    background-color: rgba(133, 132, 131, 0.89) ;
        color: #faf0f0;
    
        
    }    
.join{
        background-color: rgba(133, 132, 131, 0.89) ;
        color: #faf0f0;
        
     }    